<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Manage Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vel
      labore, ducimus sed blanditiis, facilis magni consectetur laudantium nulla
      tempore corporis officia dolor assumenda quaerat harum? Temporibus quae
      maiores voluptatum!
    </p>
  </div>
</div>
